
<div class="add-movie">
	<% if user_signed_in? %>
		<%= link_to "Click here", new_movie_path %> to add a new movie!
	<% else %>
		Sign in to add your own movie!
	<% end %>
</div>
<div class="card-deck">
	<% @movies.order(created_at: :desc).each do |movie| %>
		<%= render movie %>
	<% end %>
</div>


